<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="profile-wrapper">

        <div class="profile-container">

            <div class="profile-top">
                <div class="image-box">
                    <img class="profileImage" src="{{avatar}}" alt="">
                </div>

                <div class="userInfo">
                    <h1 class="userName">{{name}}</h1>
                    <div class="userAddress">{{#address.city}}{{address.city}}, {{/address.city}}{{address.country}} | {{#job}}{{job}}, {{company}}{{/job}}{{^job}}</div>
                    <div class="nojob">Available for hire</div>{{/job}}
                    <div class="userEmail">{{email}} | {{phone}}</div>
                </div>
            </div>

            <div class="profile-bottom">

                <div class="left-box">
                    {{#university}}
                    <div class="edu-skills">Education</div>
                    {{/university}} {{^university}} {{/university}}
                    <div class="edu-skills">Skills</div>
                </div>

                <div class="right-box">
                    {{#university}}
                    <div class="edu">{{.}}</div>
                    {{/university}} {{^university}} {{/university}} {{#skills}}
                    <div class="skills">{{.}}</div>{{/skills}}
                </div>
            </div>
        </div>

     </section>

</body>
</html>

