/* ~~~Index Page~~~ */

.wrapper {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.indexTitle {
  width: 81%;
  align-self: flex-end;
}

.userbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  margin: .5rem 0 .5rem 0;
  border: .5px solid gray;
}

.name {
  padding: .5rem 0 .5rem 0;
  font-size: 1.5rem;
  color: #528db3;
}

.job {
  padding: .5rem 0 0 .5rem;
  color: gray;
}

.nojob {
  color: #c0738d;
  padding-bottom: .5rem;
}
